@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* reset css to default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* set the page background and styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
}

/* Start of styling header and nav */
/* ******************************* */

/* set the header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 70px 70px;
  /*top , right, bottom, left*/
  width: 80%;
  margin: auto;
}

/* set the logo styles */
.sectiontitle,
.logo {
  font-size: 45px;
  font-weight: 700;
  color: lightseagreen;
}

/* set the navigation styles */
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-inline: 30px;
}

nav ul li a {
  color: teal;
  text-decoration: none;
}

nav ul li:hover a {
  color: #fdbd31;
  transition: 0.3s;
}

/* ***************************** */
/* End of styling header and nav */


/* Start of styling mainsection */
/* **************************** */

/* set the main cointainer as a grid of columns */
#mainsection {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  margin: auto;
  width: 80%;
  height: 100dvh;
  border-bottom: 1px solid rgb(0, 255, 255, 0.5);
  margin-bottom: 10px;
}

/* set the left div column */
/* A short intro on how flex works: https://www.youtube.com/watch?v=_tlxwc9ssH4 */
.left-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
}

/* set the right div column */
.right-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: normal;
}

/* set the profilecontainer */
.profilecontainer {
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 300px;
}

/* set the profile details */
.profiledetails {
  display: block;
  padding: 20px;
  width: 280px;
  margin-right: 10px;
  color: gray;
  font-weight: normal;
}

/* set the rounded image */
.rounded-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0px 5px 0px 5px;
  border: 5px solid white;
}

/* set the profile text (targets span tags within <p> tags in profilecontainer class) */
.profilecontainer p span {
  display: block;
}

/* set the profile text (targets span tags within <p> tags in profilecontainer class) */
.profilecontainer strong {
  font-weight: bold;
  color: #fdbd31;
}

/* set the profile details' list */
.profiledetails ul li {
  list-style-type: none;
  font-size: small;
  padding-left: 20px;
  line-height: 25px;
}

/* sets the subheaders within profiledetails class */
.profiledetails .subheader {
  display: block;
  margin-top: 10px;
  padding: 5px 0px;
  font-size: medium;
  border-bottom: 1px dashed lightblue;
  border-top: 1px dashed lightblue;
}

/* set the linkscontainer */
.linkcontainer {
  display: flex;
  margin-top: 10px;
}

/* set the <a> tags' styles */
.linkcontainer a {
  padding: 10px 20px;
  font-size: 16px;
  background: teal;
  color: white;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
}

.text {
  margin-top: 100px;
}

/* set the text class style for the animated text in <h1> tag */
.text h1 {
  font-size: 36px;
  line-height: 72px;
  letter-spacing: 2px;
  color: lightslategray;
}

/* set the <a> link tags' style (targets <a> tags within text class) */
.text p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  padding-bottom: 20px;
}

/* ************************** */
/* End of styling mainsection */


/* Start of styling projectsection */
/* ******************************* */
#projectsection {
  width: 80%;
  margin: auto;
  height: 100dvh;
}

/* Container to list projects in rows of 3 */
.showcasecontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.projectcard {
  font-size: small;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 24px;

}

.projectcard h4 {
  padding-left: 16px
}

.projectcard p {
  padding-left: 16px;
  font-size: 0.6rem
}

.projectcard img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-image: url("img/imgplaceholder.png");
  background-repeat: no-repeat;
  /* text-indent: -9999px; */
  /* remove or comment out text indent if all images are available */
}

.projectcard .scope {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Set mouseover effect for project card */
.projectcard:hover {
  transition: 0.45s;
  transform: scale(1.05)
}

/* Set link color for project card */
.projectcard a {
  text-decoration: none;
  color: gray;
  transform: scale(1);
}

/* .projectcard span {
    display: inline;
    align-content: space-between;
    border-radius: 6px;
    margin-right: 4px;
    background-color: lightseagreen;
    padding: 5px 10px;
    color: white;
} */

.projectcard span {
  font-size: x-small;
  align-content: space-between;
  border-radius: 6px;
  margin: 4px;
  background-color: lightseagreen;
  padding: 5px 10px;
  display: inline-block;
  color: #FFFFFF;
  white-space: nowrap;
}

/* ***************************** */
/* End of styling projectsection */

/* Start of styling miscellaneous elements */
/* *************************************** */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top a {
  margin-top: 20px;
  text-decoration: none;
  color: lightseagreen;
  font-size: small;
}

/* ************************************* */
/* End of styling miscellaneous elements */